<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TLWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServerRootUri" value="http://59.44.198.134:2801/"/>
    <add key="DeploymentDate" value="2014/06/14 00:00:00"/>
    <add key="DataSavePath" value="E:/TIELU/TieLuSite/"/>
  </appSettings>
  <connectionStrings configSource="ConnStrings.config"></connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="None"/>
    <httpRuntime maxRequestLength="1024000" executionTimeout="240000"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="newtonsoftJsonBinding" 
                 contentTypeMapper="TLWebService.Json.NewtonsoftJsonContentTypeMapper, TLWebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
                 maxBufferPoolSize="204822000" 
                 maxBufferSize="204822000" 
                 maxReceivedMessageSize="204822000">
          <readerQuotas maxStringContentLength="204822000"
                        maxArrayLength="50000000" 
                        maxBytesPerRead="50000000" 
                        maxDepth="32" 
                        maxNameTableCharCount="50000000"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="TLWebService.ServiceBehavior" name="TLWebService.Service">
        <endpoint
          address=""
          behaviorConfiguration="newtonsoftJsonBehavior"
          binding="webHttpBinding"
          bindingConfiguration="newtonsoftJsonBinding"
          contract="TLWebService.IService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="newtonsoftJsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
          <newtonJsonBehaviorExtension />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="TLWebService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="newtonJsonBehaviorExtension" type="TLWebService.Json.NewtonsoftJsonBehaviorExtension, TLWebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
